<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atik_faysal.mealcounter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewAccount"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomePageActivity"
            android:label=""
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".MakeMyGroup"
            android:screenOrientation="portrait"/>

        <activity android:name=".ForgetPassword"
            android:screenOrientation="portrait"
            android:label="Reset Password"/>





        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/log_in_protocall" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID"
            />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name"
            />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c14e39f019b3b47b058a67984af547a01e32021" />
    </application>

</manifest>